link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='css/style-reset.css')
link(rel='stylesheet', type='text/css', href='css/timeline.min.css')
